{% extends "base.html" %}

{% block headtitle %}About - {{PORTAL_NAME}}{% endblock headtitle %}

{% block headermeta %}

<meta property="og:title" content="About - {{PORTAL_NAME}}">
<meta property="og:type" content="website">
<meta property="og:description" content="">

<meta name="twitter:card" content="summary">

<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [{
		"@type": "ListItem",
		"position": 1,
        "name": "{{PORTAL_NAME}}",
        "item": {
			"@type": "WebPage",
	        "@id": "{{FRONTEND_HOST}}"
	    }
    },
    {
		"@type": "ListItem",
		"position": 2,
        "name": "About",
        "item": {
			"@type": "AboutPage",
	        "@id": "{{FRONTEND_HOST}}/about"
	    }
    }]
}
</script>

{% endblock headermeta %}

{% block innercontent %}
<div class="custom-page-wrapper">

    <div class="bmrkbr-builder-content bmrkbr-p-pl-0 bmrkbr-p-pr-0 bmrkbr-md-p-pl-inherit bmrkbr-md-p-pr-inherit bmrkbr-sm-p-pl-inherit bmrkbr-sm-p-pr-inherit bmrkbr-mt-0 bmrkbr-mb-0 bmrkbr-md-mt-inherit bmrkbr-md-mb-inherit bmrkbr-sm-mt-inherit bmrkbr-sm-mb-inherit">
        <h1>What’s our policy on cookies and privacy?</h1>
<p>This policy on privacy and cookies describes how Biites, company registration number 38660756, having its registered address at Vandtårnsvej 62,A 1.sal E, nr. 30 DK-2860 Glostrup, Denmark (“we”, “us” or “Biites”) uses cookies at www.biites.com (the “Website”).</p>
<p><strong>Introduction</strong><br>
Every time you visit our website, personal information about you is collected that is used to customize and improve our content in order to better serve your interests as well as to increase the value of the ads displayed on the page. Of course, we would never want to collect information that you weren’t happy about, and if you do not wish this to happen, you should simply delete your cookies (<strong><a href="https://www.allaboutcookies.org/manage-cookies/clear-cookies-installed.html">see instructions</a></strong>)&nbsp;and avoid further use of the site. You can find out more below on what data is collected, what it is used for and which third parties have access to it.</p>
<p><strong>What are cookies?</strong><br>
This website uses cookies. A cookie is a text file that is stored on your computer, mobile, tablet or other device for the purpose of recognizing, remembering settings, recording statistics, and targeting ads. Cookies cannot contain malicious code such as a virus.</p>
<p>You can delete or block cookies if you like. Just follow these simple <strong><a href="https://www.allaboutcookies.org/manage-cookies/clear-cookies-installed.html">instructions</a></strong>.</p>
<p>Please note, if you do delete or block cookies, you may run the risk that the site will not work optimally for you and even discover that there is some content you are unable to access.</p>
<p>&nbsp;</p>
<h2>Privacy policy</h2>
<p><strong>What is personal information?&nbsp;</strong></p>
<p>Personal information is any information relating to you that can be used to identify you, and we are the data controller for such processing. When you use our Website, we collect and use such information. That happens when you:</p>
<ul>
<li>Visit our Website</li>
<li>Visit&nbsp;our&nbsp;social media pages</li>
<li>Contact us via our online form, e-mail or phone, or</li>
<li>Subscribe to our newsletter</li>
</ul>
<p>&nbsp;</p>
<p><strong>Processing personal information</strong></p>
<p>We process your information in various ways and for different purposes. Below you can read more about how your personal information is processed.</p>
<p><u>Visit&nbsp;and use of&nbsp;our&nbsp;Website<br>
</u>When you visit our&nbsp;Website&nbsp;we collect and process information about your usage with the purpose of compiling statistics and targeted advertising (cookies).&nbsp;A cookie is a&nbsp;small piece of data sent from a website and stored in a user’s web browser, mobile phone,&nbsp;tablet&nbsp;or other device while the user is browsing.&nbsp;There are other technologies such as pixel tags, web bugs, web storage and other similar files and technologies that may carry the same functions as cookies. In this policy, we use the term “cookies” for cookies and all such similar technologies.&nbsp;Cookies cannot contain malicious code such as a virus.</p>
<p>The&nbsp;legal basis for&nbsp;the&nbsp;personal data processing that occurs through cookies is based on your consent as a legal ground for processing. This means that you have a choice to allow or deny some or all of the cookies, except for strictly necessary cookies.&nbsp;We typically collect and process the following types of information:</p>
<ol>
<li>A unique ID and technical information about your computer, tablet or mobile phone</li>
<li>Your IP number, geographic location, and which pages you click (interests).</li>
</ol>
<p>&nbsp;</p>
<p><u>We use the following cookies:<br>
</u><em>Strictly necessary&nbsp;</em>– These cookies are strictly necessary in order to enable you to move around the website and use its features. The Website cannot function without these cookies. Strictly necessary cookies do not require your consent as they enable services you have specifically asked for and which cannot be provided otherwise.</p>
<p><em>Functional</em>&nbsp;– These cookies enable the Website to save details that you have provided in order to offer a better experience, such as, e.g. allow the Website to remember choices you make such as your language or the region you are in.&nbsp; Some parts of the Website may not function properly without these cookies. These cookies may be automatically enabled and can be managed to your preferences through your browser settings.</p>
<p><em>Statistical</em>&nbsp;– These cookies are used in order for us to analyze the performance and design of the Website and to detect errors. These cookies also enable us to recognize that you have visited the Website before, which sites on the Website that visitors visit most frequently and how much time visitors spend on the Website. These cookies may be automatically enabled and can be managed to your preferences through your browser settings. The purpose of these cookies is solely to improve the performance of the website and your experience.</p>
<p><em>Marketing</em>&nbsp;– These cookies are used to track your visit across websites to display ads that are relevant and engaging for you as a user. These cookies may be automatically enabled and can be managed to your preferences through your browser settings.</p>
<p>We also use cookies from third parties, e.g. cookies from our business partners. This means that third parties have created these cookies and the cookies are set on your device via our Website.&nbsp;You can see which third parties are in the “Cookies” section <a href="https://biites.com/data-sharing/"><strong>in this link</strong></a>.&nbsp;Our policy on cookies does not apply to cookies set by third parties and they are solely responsible for the compliance with the provisions of the General Data Protection legislation.</p>
<p>You can review or remove cookies that have already been set through your web browser. The way you can do this usually differs from one web browser to another. Most web browsers have published instructions on how to manage cookies.</p>
<p>Since cookies are always set to the device and browser you use to visit the Website, you will need to separately manage cookies on all the different devices and browsers you use to visit the Website.</p>
<p>Please note that if you choose to block cookies, the functionality of the Website may be affected.</p>
<p><u>Visit our social media pages<br>
</u>When you visit our&nbsp;social media pages (e.g. Facebook, LinkedIn, Instagram etc.)&nbsp;we&nbsp;will typically&nbsp;collect and process&nbsp;your name and other personal information relating to your user profile. The purpose for our processing is&nbsp;marketing, replying to inquiries, and other related purposes.</p>
<p>The legal basis on which we process your personal information is our legitimate interest. Our legitimate interest is considered under the fact that you&nbsp;have visited our social media pages&nbsp;and that the processing does not infringe the fundamental rights and freedoms.</p>
<p>The information is stored as long as you&nbsp;are ‘connected’ to our social media pages.</p>
<p><u>Contact us via our online form, e-mail or phone<br>
</u>When you contact us via our contact form on our Website or via e-mail, we collect and process&nbsp;your&nbsp;name, e-mail address and other personal information you provide us,&nbsp;with the purpose of returning your contact.&nbsp;The legal basis on which we process your personal information is our legitimate interest. Our legitimate interest is considered under the fact that you have submitted the information yourself in order to be contacted, and that the processing does not infringe the fundamental rights and freedoms.</p>
<p>We will retain your personal information no longer than 12 months after the latest processing.</p>
<p><u>Subscribe to our newsletter<br>
</u>When you sign up for our newsletter, we will collect and process&nbsp;your name and e-mail address&nbsp;with the purpose of providing our newsletter&nbsp;to you.&nbsp;The legal basis for processing is your consent. You can withdraw your consent at any time by e-mailing us at&nbsp;contact@biites.com. Furthermore, you can unsubscribe by following the unsubscribe link at the bottom of our newsletter.</p>
<p>The information is stored as long as you subscribe to our newsletter. If it is not possible to deliver e-mails to your account, we reserve the right to delete your e-mail.</p>
<p><strong>How do we keep your data secure?<br>
</strong>We have taken technical and organizational measures against your data being accidentally or illegally deleted, published, lost, impaired or shared, misused or otherwise treated in violation of the law.</p>
<p><strong>How long do we keep your data for?<br>
</strong>We only store your data for&nbsp;the purposes described in this policy and for&nbsp;the time allowed by law.&nbsp;When we no longer need to use your personal&nbsp;information and there is no need for us to keep it to comply with our legal or regulatory obligations, we will either remove it from our systems or anonymize it so that you cannot be identified.</p>
<p><strong>Who else can see your data?<br>
</strong>Besides otherwise described in this&nbsp;policy, we may disclose personal information that we collect or that you provide to trusted third-party&nbsp;providers&nbsp;(data processors). We only use data processors that can give your information adequate level of data protection.</p>
<p>In some cases, we may also transfer personal data to organizations in so-called third countries (countries outside of the European Economic Area). Such transfers can be made if any of the following conditions apply;</p>
<ul>
<li>the EU Commission has decided that there is an adequate level of protection in the country in question, or</li>
<li>other appropriate safeguards have been taken, for example the use of the standard contractual clauses (EU model-clauses) approved by the EU Commission or the data processor has valid Binding Corporate Rules (BCR) in place, or</li>
<li>that there are exceptions in special situations, such as to fulfill a contract with you or your consent to the specific transfer.</li>
</ul>
<p><strong>What&nbsp;is&nbsp;your rights?<br>
</strong>You can always request information and insight into what information, we have collected from you. In addition, you have the right to get corrected incorrect information, to limit processing and to delete your personal information.&nbsp;Please contact: <a href="mailto:contact@biites.com"><strong>contact@biites.com</strong></a> to do so. If you would like to complain about our processing of your personal information, you also have the opportunity to contact the Danish Data Protection Agency.</p>
<p><strong>Contact&nbsp;us<br>
</strong>If you have any questions or comments about our use of cookies, please contact;&nbsp;<a href="mailto:contact@biites.com"><strong>contact@biites.com</strong></a>.</p>
<p><em>Effective date: September, 2020</em></p>

    </div>

</div>
{% endblock %}