{% extends "base.html" %}

{% block headtitle %}About - {{PORTAL_NAME}}{% endblock headtitle %}

{% block headermeta %}

<meta property="og:title" content="About - {{PORTAL_NAME}}">
<meta property="og:type" content="website">
<meta property="og:description" content="">

<meta name="twitter:card" content="summary">

<script type="application/ld+json">
{
	"@context": "https://schema.org",
	"@type": "BreadcrumbList",
	"itemListElement": [{
		"@type": "ListItem",
		"position": 1,
        "name": "{{PORTAL_NAME}}",
        "item": {
			"@type": "WebPage",
	        "@id": "{{FRONTEND_HOST}}"
	    }
    },
    {
		"@type": "ListItem",
		"position": 2,
        "name": "About",
        "item": {
			"@type": "AboutPage",
	        "@id": "{{FRONTEND_HOST}}/about"
	    }
    }]
}
</script>

{% endblock headermeta %}

{% block innercontent %}
<div class="custom-page-wrapper">

<p>&nbsp;</p>

<div class="l-canvas type_wide">
<section class="l-section wpb_row us_custom_7fdccd35 height_small">
<div class="l-section-h i-cf">
<div class="g-cols via_flex valign_top type_default">
<div class="vc_col-sm-12 wpb_column vc_column_container">
<div class="vc_column-inner">
<div class="wpb_wrapper">
<div class="g-cols wpb_row us_custom_f68d8aa1 via_flex valign_top type_default">
<div class="vc_col-sm-12 wpb_column vc_column_container">
<div class="vc_column-inner">
<div class="wpb_wrapper">
<h1 class="w-text us_custom_eb849559"><span class="w-text-h"><span class="w-text-value">Terms &amp; Conditions</span></span></h1>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="l-section wpb_row height_small">
<div class="l-section-h i-cf">
<div class="g-cols via_flex valign_top type_default">
<div class="vc_col-sm-12 wpb_column vc_column_container">
<div class="vc_column-inner">
<div class="wpb_wrapper">
<div class="wpb_text_column">
<div class="wpb_wrapper">
<p><strong>1.1</strong>&nbsp;These Commercial Terms (hereinafter the &ldquo;Terms&rdquo;) shall apply in relation to any service provided by Biites ApS, Vandt&aring;rnsvej 62, DK-2860 S&oslash;borg, Denmark, CVR no. 38660756 (hereinafter &ldquo;Biites&rdquo;), unless otherwise explicitly agreed in writing.</p>

<p><strong>1.2</strong>&nbsp;The Terms have been accepted by the Customer if the Terms have been attached to an offer from Biites; if the offer includes a reference to the Terms and the offer has been accepted by the Customer; or if the Customer in any other way has accepted the Terms.</p>

<p><strong>1.3</strong>&nbsp;Even if Biites does not at a later time refer to these Terms in an offer, an order confirmation, an agreement or oth<br />
er types of correspondence, the Customer accepts that the Terms shall apply to any service provided, cf. clause 1.1.</p>

<p><strong>1.4</strong>&nbsp;If the Customer wants to apply its own terms of purchase, terms of supply or any other terms, this requires Biites&rsquo; prior acceptance in writing. Any reference to such terms in the Customer&rsquo;s acceptance of Biites&rsquo; offer does not constitute a qualified acceptance, as a reference to the Customer&rsquo;s own terms will have no legal effect in relation to Biites.</p>

<p><strong>2. Services and Content</strong><br />
<strong>2.1</strong>&nbsp;Biites provides a video platform where businesses and public and private organizations can publish high-quality, Customer branded video content (hereinafter &ldquo;Content&rdquo;) on&nbsp;<strong><a href="http://www.biites.com/">www.biites.com</a></strong>.</p>

<p><strong>2.2</strong>&nbsp;Biites&rsquo; services (hereinafter the &ldquo;Service&rdquo;) include subscription-based channel products (hereinafter &ldquo;Subscription Products&rdquo;) tailored to the individual needs of the Customer and pay-per-play products designed to deliver quality views to the Customer&rsquo;s channel.</p>

<p><strong>3. Offer and Formation of Contract</strong><br />
<strong>3.1</strong>&nbsp;All offers are valid for fourteen (14) days from the date of the offer, unless otherwise explicitly written in the offer.</p>

<p><strong>3.2</strong>&nbsp;The Customer can accept an offer by sending an email to Biites confirming the acceptance of an offer from Biites or by uploading its Content to the customer service portal (hereinafter the &ldquo;Confirmation&rdquo;). Once a Confirmation has been received Biites will commence work to deliver the Services in accordance with a timetable agreed with the Customer in writing. If no timetable is agreed Biites will endeavor to commence delivery of the Service within a reasonable period of time following the Confirmation.</p>

<p><strong>3.3</strong>&nbsp;Unless otherwise agreed, the Terms and the Confirmation represent the total contractual basis between Biites and the Customer (hereinafter the &ldquo;Agreement&rdquo;).</p>

<p><strong>3.4</strong>&nbsp;Biites may adjust prices for Subscription Products at any time. Notice hereof shall be made either (i) by giving notice to Customers in writing including by e-mail or (ii) by posting notice hereof on the Biites website.</p>

<p><strong>4. Payment and Terms of Payment</strong><br />
<strong>4.1</strong>&nbsp;Upon Biites receiving the Confirmation from the Customer, Biites will invoice the Customer according to the Agreement. Subscription Products are invoiced annually and unless terminated in accordance with the provisions set out below under the heading &ldquo;Annual Renewal &ndash; Termination&rdquo; the Customer will be invoiced on a rolling basis.</p>

<p><strong>4.2</strong>&nbsp;All prices are exclusive of VAT.</p>

<p><strong>4.3</strong>&nbsp;Biites&rsquo; invoices fall due within eight (8) days of the invoice date. Unless otherwise agreed Biites invoice in DKK.</p>

<p><strong>4.4</strong>&nbsp;Any past due, unpaid amounts will carry interest of 1.5% per month or fraction of a month. In addition, Biites is entitled to charge a reminder fee pursuant to Section 9 b(2) of the Danish Interest Act, currently DKK 100 for each reminder letter. In case of overdue payment, Biites is furthermore entitled to charge a compensation fee pursuant to Section 9 a(3) of the Danish Interest Act, currently DKK 310.</p>

<p><strong>4.5</strong>&nbsp;If Biites has any unpaid and outstanding invoices, Biites is entitled to suspend any delivery of Services to the Customer until payment has been received in full.</p>

<p><strong>4.6</strong>&nbsp;The Customer is not entitled to set-off or withhold any part of the purchase price due to counterclaims.</p>

<p><strong>5. Availability of the Service</strong><br />
<strong>5.1</strong>&nbsp;Biites intends for the Service to be available 24/7 with a minimum 99.0% of availability measured over a quarterly period subject to any Force Majeure events listed below. The Service are defined as being available as long as users are able to access and stream Content from the Service.</p>

<p><strong>5.2</strong>&nbsp;In order to maintain and update the Service, Biites will from time to time plan and execute maintenance work, where the Service may be unavailable. Where Biites has announced such maintenance work at least 24 hours in advance, this unavailability does not affect the measured target availability.</p>

<p><strong>5.3</strong>&nbsp;Irrespective of the intentions stated above the Customer shall have no remedies or claims against Biites for the unavailability of the Service, including without limitation the right to claim for compensation, proportionate reduction, the right to terminate the Agreement for breach or any other remedy.</p>

<p><strong>6. Customer&rsquo;s Obligations</strong><br />
<strong>6.1</strong>&nbsp;The Customer warrants that the Customer holds the required rights to the Content in order to use it with the Service, including but not limited to, scripts, music and actors.</p>

<p><strong>6.2</strong>&nbsp;Content uploaded by Customer shall at all times adhere to Biites&rsquo; ethical guidelines (see further down this page), which may change from time to time. Biites reserve the right to remove any content not adhering to Biites&rsquo; ethical guidelines.</p>

<p><strong>6.3</strong>&nbsp;Customer shall provide Biites with Content formatted according to <strong><a href="https://biites.com/upload/">Biites&rsquo; technical specifications</a></strong>, which may change from time to time.</p>

<p><strong>7. Rights to the Content</strong><br />
<strong>7.1</strong>&nbsp;The Customer retains all ownership rights to the Content.</p>

<p><strong>7.2</strong>&nbsp;Upon uploading Content to the Service, the Customer grants:</p>

<p><strong>7.2.1</strong>&nbsp;Biites: a worldwide, non-exclusive, royalty-free right to use the Content in the agreed geographical areas and in connection with the provision of the Service. Furthermore, Biites are allowed to use the Content when marketing the Service, for example via social media, including when delivering pay-per-play products.</p>

<p><strong>7.2.2</strong>&nbsp;Each user of the service: a world-wide, non-exclusive, royalty-free right to access the Content through the Service.</p>

<p><strong>7.3</strong>&nbsp;The above rights to the Content are terminated when the Agreement is terminated, or the Content is removed from the Service.</p>

<p><strong>8. Intellectual Property Rights</strong><br />
<strong>8.1</strong>&nbsp;By actual payment of the agreed fees, the Customer acquires a worldwide, non-exclusive, royalty-free right to use the Service to make the Content available through www.biites.com for the term agreed in the Agreement.</p>

<p><strong>9. Breach</strong><br />
<strong>9.1</strong>&nbsp;In case of material breach, the non-breaching party may terminate the Agreement with immediate effect, provided that the non-breaching party has given the breaching party a deadline of at least ten (10) weekdays to remedy the material breach and no remedial action has been taken before expiry of the deadline.</p>

<p><strong>10. Liability and limitation of liability</strong><br />
<strong>10.1</strong>&nbsp;With the limitations specified in these Terms, the parties are liable in damages towards each other pursuant to the ordinary rules of Danish law.</p>

<p><strong>10.2</strong>&nbsp;Unless Biites has acted gross negligently or with intent, Biites is never liable in damages for financial consequential losses, business interruption, lack of savings, loss of profits, goodwill, image, loss of data or costs to restore data, software or indirect loss.</p>

<p><strong>10.3</strong>&nbsp;Biites&rsquo; liability in damages is furthermore, in any circumstances and regardless of the degree of negligence, limited to the lowest amount of either: 1) the value of the total consideration paid by the Customer to Biites during the twelve (12) months preceding the claim for damages, or 2) DKK 100.000.</p>

<p><strong>11. Force majeure</strong><br />
<strong>11.1</strong>&nbsp;Biites shall not be liable towards the Customer if such liability is caused by circumstances outside Biites&rsquo; control, including war and mobilisation, Acts of God, strikes, lockouts, fire, extreme weather, breakdown of electricity or telecommunications network, delayed or defective deliveries from sub-suppliers, damage to production facilities and cyber-attacks, which Biites should not have taken into account or could not have avoided or overcome by taking reasonable action.</p>

<p><strong>11.2</strong>&nbsp;If Biites is prevented from fulfilling the Agreement due to force majeure, the Agreement will be suspended for the period of time such force majeure event exists. If the force majeure event exists for more than three (3) months, the Agreement may be terminated by either party with fourteen (14) days&rsquo; written notice, without the parties being entitled to claim damages towards each other.</p>

<p><strong>12. Confidentiality</strong><br />
<strong>12.1</strong>&nbsp;The parties are mutually obliged to keep confidential all information about the other party in the nature of trade secrets and which are not generally known to the public. The parties agree that information about the other party&rsquo;s prices and customers is always considered trade secrets.</p>

<p><strong>12.2</strong>&nbsp;Regardless of clause 12.1, Biites is entitled to use the Customer&rsquo;s name and trademark as a reference for marketing purposes.</p>

<p><strong>12.3</strong>&nbsp;The duty of confidentiality shall apply without limitation in time and shall continue after the other parts of the Agreement have terminated.</p>

<p><strong>13. Personal data</strong><br />
<strong>13.1</strong>&nbsp;Biites may process personal data under the Terms in connection with provision or use of the Service (&ldquo;Personal Data&rdquo;) as referred to in Regulation (EU) 2016/679 of the European Parliament and of the council of 27 April 2016 on the protection of natural persons with regard to the processing of personal data and on the free movement of such data (&ldquo;GDPR&rdquo;).</p>

<p><strong>13.2</strong>&nbsp;The purpose of processing Personal Data is to manage the engagements with our Customers (including create client and job accounts, invoice and carry out quality assurance and control), administer, manage and develop our business and services, operate and maintain our IT systems and process data for statistical purposes.</p>

<p><strong>13.3</strong>&nbsp;The data subject is the Customer, its owners and contacts, if any. Biites processes non-sensitive Personal Data, including names, addresses, telephone numbers and e-mail addresses of our Customers and their owners, and names, job titles, telephone numbers and e-mail addresses of the Customers&rsquo; contacts. The source of the Personal Data is the Customer, its owners and contacts, if any.</p>

<p><strong>13.4</strong>&nbsp;The processing of Personal Data is necessary in order for Biites to perform the Agreement with the Customer or implement measures at the Customer&rsquo;s request prior to the conclusion of the agreement, see Article 6(1)(b) of GDPR. Furthermore, processing is necessary in order for Biites to pursue its legitimate interest in managing the Customer cooperation, administering, managing and developing Biites business and services, e.g. identifying Customer needs and improvements in service delivery, operating and maintaining IT systems made available to or used as part of our servicing of the Customer, as well as hosting, administering and managing our website, systems and applications and processing data for statistical purposes, see Article 6(1)(f) of GDRP.</p>

<p><strong>13.5</strong>&nbsp;Biites retains personal data for five years, counted from the end of the calendar year of the last Agreement, unless special circumstances require shorter or longer periods of storage. Contacts are deleted as soon as possible after Biites becomes aware that such contacts are no longer employed with the Customer.</p>

<p><strong>13.6</strong>&nbsp;Biites may disclose Personal Data to its professional advisers, including accountants and public authorities, in the event that Biites is required to do so. Besides this, Biites does not disclose Personal Data to third parties, but Biites engages data processors, including IT suppliers, to whom Biites make personal data available. Biites enters into data processing agreements with all data processors to ensure appropriate security.</p>

<p><strong>14. Assignment</strong><br />
<strong>14.1</strong>&nbsp;The rights and obligations in this Agreement cannot be assigned to a third party without the other party&rsquo;s written consent, unless such assignment is in the form of a merger, where all or significant parts of the party&rsquo;s assets and liabilities are assigned. Biites may, however, freely assign its rights and obligations pursuant to the Agreement to Biites&rsquo; subsidiaries or associated companies.</p>

<p><strong>15. Automatic Renewal &ndash; Termination</strong><br />
<strong>15.1</strong>&nbsp;The Subscription Products are purchased by the Customer for a 12-month period and will, unless notice of termination is provided by the Customer in writing no later than 30 days prior to the renewal date, automatically be renewed annually. The renewal date is the date of the prior invoice issued to the Customer for a Subscription Product.</p>

<p><strong>16. Amendments and separate terms</strong><br />
<strong>16.1</strong>&nbsp;Any amendment of the Terms must be in writing.</p>

<p><strong>16.2</strong>&nbsp;Amendments of the Terms must be notified by Biites with a prior notice of three (3) months. If the Customer cannot accept the amendments given notice of, the Customer may terminate the Agreement with a notice of sixty (60) days. The termination does not become effective if Biites at the latest thirty (30) days after receipt of the Customer&rsquo;s notice of termination has revoked the amendments towards the Customer.</p>

<p><strong>17. Disputes</strong><br />
<strong>17.1</strong>&nbsp;Any amendment of the Terms must be in writing.</p>

<p><strong>17.2</strong>&nbsp;Amendments of the Terms must be notified by Biites with a prior notice of three (3) months. If the Customer cannot accept the amendments given notice of, the Customer may terminate the Agreement with a notice of sixty (60) days. The termination does not become effective if Biites at the latest thirty (30) days after receipt of the Customer&rsquo;s notice of termination has revoked the amendments towards the Customer.</p>

<p><strong>17.3</strong>&nbsp;Regardless of the above, Biites may, however, always determine that a dispute is to be settled in the Customer&rsquo;s home court.</p>

<p>These commercial terms have been updated on 19 May 2021.</p>

<h2><strong>BIITES ETHICAL GUIDELINES AND CONDITIONS</strong></h2>

<p>Our mission is to serve consumers a broad range of videos that are high-quality, entertaining, and authentic. To achieve this standard we ask our partners to follow the guidelines below.</p>

<p><strong>1. GENERAL GUIDELINES</strong><br />
<strong>1.1</strong> Biites is a video platform dedicated to commercially developed and sponsored films and videos. This includes native advertising videos, branded content videos and sponsored shows (also known as AFP formats: advertiser-funded programmes). All videos and films on Biites have one or more commercial &rsquo;sponsors&rsquo;. They are clearly identified next to all films.</p>

<p><strong>1.2</strong> Biites is a platform developed for longer video formats and series of videos. The common denominator for them all is that they have a narrative or an entertainment element, e.g. documentaries, series, debate shows, reports or entertainment films.</p>

<p><strong>1.3</strong> The content of the videos must adhere to all relevant legislation, including legislation pertaining to marketing, e-commerce, and personal data as well as specific legislation concerning specific areas of business. The responsibility for this falls on the owner and sponsor of the film and video content. As a Biites customer you understand and accept that you are solely responsible for your content and the consequences of publishing it on Biites. Biites in no way supports or endorses content, opinions, recommendations or advice shared in the content. Furthermore, Biites denies any responsibility related to the content of all videos and films on the platform.</p>

<p><strong>1.4</strong> If Biites becomes aware of any potential violation of our terms and conditions, we reserve the right to remove videos and films, according to our general terms and conditions.</p>

<p><strong>1.5</strong> At the start of all videos or movies, it must be clearly stated who is sponsoring and submitting the video content. This can be done, for example, by clearly using logos identifying the parties involved or as prescribed by the applicable Ombudsman legislation and practices.</p>

<p>&nbsp;</p>

<p><strong>2. ETHICAL GUIDELINES</strong><br />
The content of videos and films on Biites must not be offensive and must be ethically sound. Therefore, we have adopted the following guidelines for prohibited and limited content.<br />
<br />
<strong>2.1 Prohibited content</strong><br />
Biites does not allow the following type of videos and films:</p>

<p><strong>2.1.1</strong> Videos and films may not promote or contain images, text or talk about illegal products, hate or violence, weapons, pyramid games or religious content. Videos or movies that do not comply with our guidelines will be removed from the site and the commercial sender may be excluded from showing videos or movies on Biites. Products and services mentioned in the videos must be legitimate to use in the jurisdiction where they appear. This responsibility is the responsibility of the sponsor of the video.</p>

<p><strong>2.1.2 Discrimination</strong><br />
Videos and films must not discriminate or encourage discrimination or otherwise be offensive to persons based on personal characteristics and relationships such as race, ethnicity, color, national origin, religion, age, gender, sexual orientation, gender identity, family status, disability, medical or genetic disease.</p>

<p><strong>2.1.3 Personal qualities and sensitive content</strong><br />
Videos and films may not contain content that negatively (directly or indirectly) refers to personal attributes or relationships. This includes direct or indirect reference to a person&rsquo;s race, ethnic origin, religion, beliefs, age, sexual orientation or sexual habits, gender identity, disability, illness (including physical or mental health), financial status, membership of a trade union, criminal record or name. Biites also does not allow videos or films to advertise products or services using sensitive categories such as suggested or actual information on economic status, suspected/actual criminal behavior, health, political position/attitude, racial or ethnic origin, religious or philosophical affiliation/belief, sexual behaviour or orientation or membership of trade unions.</p>

<p><strong>2.1.4 Tobacco products</strong><br />
Biites does not allow videos and films that are related to cigarettes, pipes, cigars, tobacco and related products. Legal products and services promoting smoking cessation are allowed.</p>

<p><strong>2.1.5 Drugs and drug-related products</strong><br />
Videos and films must not promote the sale or use of illicit drugs, medical drugs or recreational drugs.</p>

<p><strong>2.1.6 Unsafe food supplements</strong><br />
Videos and films must not promote the sale or use of dietary supplements, which, in Biites&rsquo; own opinion, are perceived as unsafe.</p>

<p><strong>2.1.7 Weapons, ammunition or explosives</strong><br />
Videos and films may not promote the sale or use of weapons, ammunition or explosives.</p>

<p><strong>2.1.8 Adult products or services</strong><br />
Videos and films must not promote the sale or use of adult products or services. Videos and movies must not contain adult content. This includes nudity, depiction of people in positions that show or imply sex, or activities that are very daring or sexually provocative. Biites will be the sole judge of this.<br />
<br />
<strong>2.1.9 Sensational content</strong><br />
Videos and films must not contain offensive, disconcerting, disrespectful or excessively violent content. Biites will be the sole judge of this.<br />
<br />
<strong>2.1.10 External landing pages</strong><br />
Videos, films and supplies text and links must not lead people to non-functional landing pages. This includes landing pages with content that hamper a person&rsquo;s ability to navigate away from the page. Biites will be the sole judge of this.</p>

<p><strong>2.1.11 Monitoring equipment</strong><br />
Videos and films must not promote the sale of spy cameras, devices for tracking cellphones or other hidden monitoring equipment<br />
<br />
<strong>2.1.12 Grammar and incorrect use of language</strong><br />
Videos and films as well as supplied text must not contain incorrect or incorrect grammar and punctuation. Symbols, numbers and letters must be used correctly. Likewise, bad language and swearing is also prohibited.<br />
<br />
<strong>2.1.13 Personal health</strong><br />
Videos and films must not contain &ldquo;before and after&rdquo; images or images of unexpected or unlikely results. Film content must not imply or attempt to generate negative self-perception to promote slimming products or other health-related products. Videos and movies for health, fitness or weight loss should be targeted at people who are 18 years of age or older.</p>

<p><strong>2.1.14 Special short-term and payday loans</strong><br />
Videos and films may not promote special short-term loans, advances or other short-term benefits that are intended to cover a person&rsquo;s expenses until the next payday.</p>

<p><strong>2.1.15 Multi-Level Marketing</strong><br />
Videos and films that promote earnings opportunities must fully describe the product or business model and must not promote business models that offer quick profit on a small investment, including multi-level marketing opportunities</p>

<p><strong>2.1.16 All-pay auctions</strong><br />
Videos and films may not promote all-pay auctions, bidding-fee auctions or other similar business models.<br />
<br />
<strong>2.1.17 False documents</strong><br />
Videos and films must not promote false documents, such as fake academic degrees or immigration papers.</p>

<p><strong>2.1.18 Endangered animals and fur</strong><br />
Although legitimate in the jurisdiction in question, Biites do not allow videos and films for fur and products made of fur, fur or parts of animals found on official lists of endangered animals.</p>

<p><strong>2.2 LIMITED CONTENT</strong><br />
<strong>2.2.1</strong> Alcohol<br />
Videos or films that promote or contain references to alcohol must comply with all applicable local and international laws, mandatory or established industry regulations, guidelines, licenses, and approvals, and include age and country targeting criteria in accordance with applicable local laws.</p>

<p><strong>2.2.2 Gambling with real money</strong><br />
Videos and films promoting online games with real money and skill games including online casino, sports games, bingo or poker, are only allowed with prior written permission. Videos and movies for authorised gambling and authorised skill games and lottery games must be targeted to people over the age of 18 in the jurisdiction area covered by the authorisation.</p>

<p><strong>2.2.3 Online Pharmacies</strong><br />
Videos and films must not promote the sale of medical prescriptions. Ads for online pharmacies or physical pharmacies are permitted only after prior written permission.</p>

<p><strong>2.2.4 Supplements</strong><br />
Videos and films that promote approved dietary supplements and herbal remedies may only be targeted at people who are at least 18 years old.</p>

<p><strong>2.2.5 Subscription services</strong><br />
Videos and films about subscription services, or videos and movies that promote products or services that contain negative subscriptions such as Auto Renewal, Payment Products where free use is converted for paid use, or mobile marketing is subject to our requirement to comply with applicable laws.<br />
<br />
<strong>3. TECHNICAL SPECIFICATIONS</strong><br />
The higher the quality of your film, the better the experience for viewers &ndash; and for your brand too.</p>

<p><strong>3.1 Format</strong><br />
Videos should be submitted as an MP4/H264 file in the best quality possible. Original quality is preferred, in a standard format (no proprietary codecs from Avid or the like).</p>

<p><strong>3.2 Resolution</strong><br />
Video resolution should be a minimum 1080p (or highest possible).</p>

<p><strong>3.3 Aspect ratio</strong><br />
The aspect ratio of the video should ideally be 16:9, however older material in 4:3 can also be accepted.</p>

<p><strong>3.4 Bitrate</strong><br />
Video bitrate should be 8000Mbit/s or over (highest possible).</p>

<h2 class="text-color-dark"><strong>BIITES TERMS OF SERVICE</strong></h2>

<p><strong>1. The Service</strong><br />
<strong>1.1</strong>&nbsp;Biites is a premium video &lsquo;channel&rsquo; hub that lets viewers enjoy sponsored content and native advertising (hereinafter the &ldquo;Service&rdquo;), where businesses and public and private organizations, subject to paying a fee, can publish high-quality, branded video content (hereinafter &ldquo;Content&rdquo;) on <a href="http://www.biites.com/"><strong>biites.com</strong></a>.</p>

<p><strong>1.2</strong>&nbsp;The Service is provided by Biites, Vandt&aring;rnsvej 62A, 1. Sal, E nr.30 , DK-2860 S&oslash;borg, Denmark, CVR-no. 38660756 (hereinafter &rdquo;Biites&rdquo;).</p>

<p><strong>1.3</strong>&nbsp;Any use of the Service is subject to these terms of service,<strong> <a href="https://biites.com/cookies-and-privacy-policy/">Biites&rsquo; privacy policy</a></strong> and Biites&rsquo; ethical guidelines<strong> </strong>(hereinafter collectively the &ldquo;Terms&rdquo;).</p>

<p><strong>1.4</strong>&nbsp;By using the Service, you understand and agree that Biites will treat your use of the Service as acceptance of the Terms.</p>

<p><strong>2. Intellectual Property Rights</strong><br />
<strong>2.1</strong>&nbsp;All Content on the Service is either owned by or licensed to Biites or the respective owners and is subject to copyright, trade mark rights and other intellectual property rights of Biites or the respective owners.</p>

<p><strong>2.2</strong>&nbsp;Any third-party trade or service marks present on the Service or on the Content are a trade or service mark of their respective owners. Such Content may not be downloaded, copied, reproduced, distributed, transmitted, broadcast, displayed, sold, licensed, or otherwise exploited for any other purpose whatsoever without the prior written consent of Biites or the respective owners.</p>

<p><strong>3. Restrictions on the use of the Service</strong><br />
<strong>3.1</strong>&nbsp;Biites hereby grants you permission to access and use the Service, subject to the following restrictions. Any failure to comply with these restrictions shall constitute a breach of the Terms.</p>

<p><strong>3.1.1</strong>&nbsp;You agree not to distribute any part or parts of the Service, including but not limited to any Content, in any medium without the prior written accept from Biites.</p>

<p><strong>3.1.2</strong>&nbsp;You agree not to access Content through any technology or means other than the video playback feature of <strong><a href="http://www.biites.com/">biites.com</a></strong>.</p>

<p><strong>3.1.3</strong>&nbsp;You agree not to circumvent, disable or otherwise interfere with any security related features of the Service or features that (i) prevent or restrict use or copying of Content or (ii) enforce limitations on use of the Service or the Content accessible via the Service.</p>

<p><strong>3.1.4</strong>&nbsp;You agree not to use the Service or any Content for any commercial uses.</p>

<p><strong>3.1.5</strong>&nbsp;You agree not to access Content for any other reason than your personal, non-commercial use as intended through and permitted by the normal functionality of the Service, and solely for streaming (a contemporaneous digital transmission of the Content via the Internet to a device in such a manner that the data is intended for real-time viewing and not intended to be downloaded, copied, stored or redistributed by the user.</p>

<p><strong>3.1.6</strong>&nbsp;You shall not copy, reproduce, distribute, transmit, broadcast, display, sell, license or otherwise exploit any Content for any other purposes without the prior written consent of Biites or the respective licensors of the Content.<br />
<br />
<strong>4. Exclusion of Warranties</strong><br />
<strong>4.1</strong>&nbsp;The Service is provided &ldquo;as-is&rdquo; and Biites makes no warranty or representations to you with respect to the Service.</p>

<p><strong>4.2</strong>&nbsp;In particular Biites does not represent or warrant to you that:</p>

<p><strong>4.2.1</strong>&nbsp;Your use of the Service will meet your requirements</p>

<p><strong>4.2.2</strong>&nbsp;Your use of the Service will be uninterrupted, timely, secure or free from errors.</p>

<p><strong>4.2.3</strong>&nbsp;Any information obtained by you as a result of your use of the Service will be accurate or reliable.</p>

<p><strong>4.3</strong>&nbsp;No conditions, warranties or other terms apply to the Service except to the extent that they are expressly set out in the Terms.</p>

<p><strong>5. Limitation of Liability</strong><br />
<strong>5.1</strong>&nbsp;Biites shall not be liable for any indirect or consequential losses which may be incurred by you. This shall include: (i) any loss of profit, (ii) any loss of goodwill or business reputation, (iii) any loss of opportunity, or (iv) any loss of data.</p>

<p><strong>5.2</strong>&nbsp;Furthermore, Biites shall not be liable to you for any loss or damage which may be incurred by you as a result of: (i) any reliance placed by you on the completeness, accuracy or existence of any Content, (ii) any changes which Biites may make to the Service, or for any permanent or temporary cessation in the provision of the Service or (iii) the deletion of, corruption of, or failure to store, any Content and other communications data maintained or transmitted by or through your use of the Service.</p>

<p><strong>5.3</strong>&nbsp;The limitation on Biites&rsquo; liability to you cf. clause 4.1 shall apply whether or not Biites has been advised of or should have been aware of the possibility of any such losses arising.</p>

<p><strong>6. Changes to the Terms</strong><br />
<strong>6.1</strong>&nbsp;Biites reserves the right to make changes to the Terms from time to time.</p>

<p><strong>6.2</strong>&nbsp;You agree that Biites may provide you with notices regarding changes to the Terms by postings on the Service.</p>

<p><strong>7. Choice of Law and Venue</strong><br />
<strong>7.1</strong>&nbsp;The Terms shall be governed by, and exclusively construed in accordance with, the laws of the Kingdom of Denmark, not taking into account its provisions that may lead to the application of any other substantial law than Danish law.</p>

<p><strong>7.2</strong>&nbsp;Any dispute, controversy or claim arising out of or in connection with the Terms or the breach, termination or invalidity thereof shall be settled by the ordinary Danish courts.</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
</div>

</div>
{% endblock %}
